@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  text-align: center;
}

header {
  padding: 30px 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  padding: 30px 0;
}

main {
  display: flex;
  align-items: center;
  max-width: 1050px;
  gap: 100px;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
}

button {
  padding: 10px 40px;
  font-family: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 0.75em;
  background-color: white;
}

button:hover {
  background-color: rgb(128, 128, 128);
  color: white;
  transform: scale(1.15);
}

button:active {
  transform: scale(1.15) translate(2px, 2px);
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.range-value {
  font-size: 1.25em;
}

.container {
  width: 500px;
  height: 500px;
  box-shadow: 0px 0px 16px rgb(128, 128, 128);
  display: grid;
}

.fa-github {
  font-size: 1.5rem;
  color: rgb(2, 101, 2);
}
